@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary_color :#0ea5e9; /**#8B5CF6;**/
    --dark_gray : 
    #6B7280;
    --off_white : #F3F4F6;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}

/** container **/

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container_center{
    max-width: 600px;
    margin: auto;
} 

.centered{
    text-align: center;
}

/** links **/

.link{
    text-decoration: none;
    padding: 0.5rem ;
    color: white;
}

.link:hover{
    border-bottom: 2px solid var(--off_white);
}

.link_primary{
    text-decoration: none;
    padding: 0.5rem 1rem ;
    background-color: var(--primary_color);
    border-radius: 0.5rem;
    color: var(--off_white);
    border: 1.5px solid var(--primary_color);
    font-weight: bold;
}

.link_primary:hover{
    background-color: var(--off_white);
    color: var(--primary_color);
}

.link_secondary{
    text-decoration: none;
    padding: 0.5rem 1rem ;
    font-weight: bold;
    color: var(--primary_color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary_color) ;
}

.link_secondary:hover{
    background-color: var(--primary_color);
    color: var(--off_white);
}

.list_non_bullet{
    list-style: none;
}

.list_inline{
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation{
    background-color: var(--primary_color);
    color:white;
    padding: 0.5rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight:bold;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: large;
}

.navigation .nav_pills{
    text-align: right;

}

.navigation.link{
    color: white;
}

.navigation .link-active{
    font-weight: bolder;
    border-bottom: 2px solid var(--off_white);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hero {
    padding: 2rem;
    padding-top: 2rem;
}

.hero-img {
    max-width: 250px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    color: var(--dark_gray);
    text-align: center;
}

.hero .heading-inverted{
    color: var(--primary_color);
    
}

.logo-container{
    text-align: center;
}

.logo{
    max-width: 3rem;
}

.flex-c{
    width: 5rem;
    margin: 1rem 2rem;
}

.flex-r{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/** section **/

.section {
    padding: 2rem;
}

.section h1,h2 {
    text-align: center;
}

.ow {
    background-color: var(--off_white);
}

.footer {
    background-color: var(--primary_color);
    padding: 0.5rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

}

.footer ul {
    padding-inline-start: 0px;

}

.footer .footer-header{
    font-size: large;
    font-weight: bold;
}

.fa{
    padding: 0.2rem 0.4rem;
}

.fa:hover{
    background-color: var(--off_white);
    color: var(--primary_color);
    border-radius: 1rem;
}

.ft-sm{
    font-size: 0.8rem;
}